.gbdemo_demo{
  display: none;
}
.gbdemo_public{
  display: block;
}
.gbdemo .gbdemo_demo{
  display: block;
}
.gbdemo .gbdemo_public{
  display: none;
}

[class^="elementor-edit-area"] .gbdemo_demo{
  border: 3px solid #ff0000 !important;
  position: relative;
}
[class^="elementor-edit-area"] .gbdemo_public{
  border: 3px solid #00ff91 !important;
  position: relative;
}
[class^="elementor-edit-area"] .gbdemo_demo{
  display: block !important;
}
[class^="elementor-edit-area"] .gbdemo_demo::before{
  content: 'デモ状態';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
}
[class^="elementor-edit-area"] .gbdemo_public::before{
  content: '公開状態';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00ff91;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
}
